/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
body {
  font-family: 'Rajdhani', sans-serif;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* variables */
.root {
  --Primary: rgb(89, 191, 194);
  --Secondary: white;
  --text-dark: rgb(40, 62, 125);
  --bg-light: rgb(213, 229, 229);
  --text-light: rgb(110, 113, 120);
}
/* general classes */
.center {
  text-align: center;
}

.margin {
  margin: 1rem;
}

.padding {
  padding: 1rem;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
.btn {
  display: inline-block;
  padding: 16px;
  color: var(---Secondary);
  background-color: var(---Primary);
}
/* flex */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify-end {
  justify-content: end;
}

.display-flex {
  display: flex;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-45 {
  flex: 0 1 45%;
}
.flex-40 {
  flex: 0 1 40%;
}
img {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.select-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
}
.select-section article {
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  padding-right: 5px;
}
/* .cart-icon{
    top: 0;
    right: 0;
    position: absolute;
} */
.cart-icon {
  width: 10%;
}
/* cart */
.cart-section {
  display: none;
}

h3 {
  font-size: 1.1rem;
  margin: 1rem 0;
}
h2 {
  margin: 1rem 0;
}
.active-cart {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
.contant {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 0.5rem 0;
}
.contant hr {
  border: none;
  background-color: rgb(234, 191, 0);
  height: 0.15rem;
  border-radius: 1rem;
  width: 15%;
}
.contant li {
  position: relative;
  padding: 1rem 0.5rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.contant li:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contant p {
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 0.3rem;
}
.contant button {
  font-weight: 100;
  font-size: 1.1rem;
  padding: 0.4rem 0;
  background-color: black;
  border: none;
  color: white;
  width: 80%;
  border: 1px solid black;
  border-radius: 4px;
}
.contant button:active {
  background-color: rgb(255, 98, 0);
}
.contant button:hover {
  background-color: yellow;
  color: black;
}
.contant-section {
  display: flex;
}
.size-section {
  margin-top: 2rem;
  height: 100%;
  width: 14%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.size-section li {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.btn-active {
  background-color: black;
  color: white;
}
.bag {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.bag-icon {
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: black;
  padding: 0.7rem;
  border: 2px solid white;
}
.bag-icon div {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  top: 2px;
  right: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  color: black;
  position: absolute;
}
.bag h4 {
  color: white;
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}
.bag article {
  padding: 0 2rem;
  background-color: black;
}
.bag li {
  position: relative;
  border: 2px solid rgb(135, 135, 135);
  display: flex;
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.bag ul figure {
  border-radius: 8px;
  padding-bottom: 0;
  background-color: white;
  overflow: hidden;
}
.bag .incDecBtn {
  padding: 0 8px;
}
.bag li p {
  margin-top: 2rem;
}
.bag .cross-icon {
  position: absolute;
  right: 0.7rem;
  top: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: black;
}
.cross-icon img {
  z-index: 99;
  margin-top: 8px;
}

.bag article p {
  color: white;
}
.checkout {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.checkout button {
  width: 30%;
  font-size: 1.2rem;
}
